::root {
    --font-size: 200px;
    --font-family: initial;
}

span {
    font-size: var(--font-size);
    font-family: var(--font-family);
    user-select: none;
    padding: 0px;
}

.active-char {
    outline: 2px solid #4caf50;
}

#show-area {
    word-break: normal;
}
